{{>navigation}}

{{#if pcBuilds}}

<h1>PCs in the data base that are in your budget</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Intended Use</th>
        <th>CPU</th>
        <th>RAM</th>
        <th>Motherboard</th>
        <th>GPU</th>
        <th>Storage</th>
        <th>Case </th>
        <th>Cooler</th>
        <th>Power Supply</th>
    </tr>
    
    {{#each pcBuilds}}
    <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{intendedUse}}</td>
        <td>{{components.cpu}}</td>
        <td>{{components.ram}}</td>
        <td>{{components.motherboard}}</td>
        <td>{{components.gpu}}</td>
        <td>{{components.storage}}</td>
        <td>{{components.pcCase}}</td>
        <td>{{components.cooler}}</td>
        <td>{{components.psu}}</td>
    </tr>
    {{/each}}

</table>
{{/if}}

{{#if error}}
    <h1 style="color: red" >{{error}}</h1>
{{/if}}

<a href="/home"><button type="button">Back</button></a>

